@import 'base/variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.private-items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 10px;
}

.private-item {
  display: flex;
  padding: 5px 0;
  align-items: center;

  .icon {
    color: $white;
    font-size: 20px;
    width: 40px;
    text-align: center;
  }

  a, p {
    color: $white;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    line-height: 1.5em;
    max-height: 3em;
  }

  a:hover {
    color: $grey-normal;
  }
}

@media (min-width: 0) and (max-width: 767px) {
  :host {
    padding: 10px 10px;
  }

  .private-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .private-item {
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;

    .icon {
      width: inherit;
      margin-left: 0;
      margin-right: 6px;
      text-align: center;
    }
  }
}

@media print {
  :host {
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
  }

  .private-items {
    padding: initial;
  }

  .private-item {
    .icon {
      font-size: 20px;
      width: 40px;
      text-align: center;
    }

    .icon, a, p {
      color: $print-dark;
    }

    a {
      text-decoration: none;
    }
  }
}
