@import 'base/variables';

.story:first-child {
  padding: 50px 50px 10px;
}

.story {
  padding: 10px 50px 10px;
}

.story:last-child {
  padding: 10px 50px 50px;
}

.head {
  color: $primary;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;

  .icon {
    margin-right: 10px;
  }
}

.info {
  .job-date {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .job {
      color: #3e4a4f;
      font-weight: 600;
    }

    .date {
      color: #585858;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .company-info {
    .company {
      color: #585858;
      font-size: 1rem;
      font-weight: 400;
    }

    .site {
      color: $link;
      text-decoration: none;
      background-color: transparent;

      &:hover {
        color: $link-hover;
        text-decoration: underline;
      }
    }

    /deep/ .company-details {
      margin-top: 10px;

      p {
        margin-top: 0;
        margin-bottom: 10px;
      }

      li {
        margin-top: 0;
        margin-bottom: 5px;
      }

      li:last-child,
      p:last-child {
        margin-top: 0;
        margin-bottom: 0;
      }

      p + ul {
        margin-top: -5px;
      }

      ul {
        list-style-type: none;
      }

      ul li {
        margin-left: 40px;
      }

      ul li:before {
        content: '\2014';
        position: absolute;
        margin-left: -20px;
      }

      a {
        color: $link;
        text-decoration: none;
        background-color: transparent;
      }

      a:hover {
        color: $link-hover;
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 0) and (max-width: 767px) {
  .story:first-child {
    padding: 25px 25px 15px;
  }

  .story {
    padding: 15px 25px 15px;
  }

  .story:last-child {
    padding: 15px 25px 25px;
  }

  .info {
    .job-date {
      .job {
        width: 60%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .story:first-child {
    padding: 35px 35px 15px;
  }

  .story {
    padding: 15px 35px 15px;
  }

  .story:last-child {
    padding: 15px 35px 35px;
  }
}
