@import "base/variables";

$BORDER: 2;
$IMG-WIDTH: 140;
$IMG-WIDTH-TABLET: 120;

:host {
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  background-color: $primary-dark;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  color: $white;
  text-align: center;
}

h1 {
  font-weight: 900;
  margin-bottom: 10px;
}

h2,
h3,
h4 {
  font-weight: 100;
}

.border {
  border: #{$BORDER}px solid $white;
  margin-bottom: 20px;
  border-radius: 50%;
  width: #{$IMG-WIDTH + $BORDER * 2}px;
  height: #{$IMG-WIDTH + $BORDER * 2}px;

  @media (min-width: 768px) and (max-width: 991px) {
    width: #{$IMG-WIDTH-TABLET + $BORDER * 2}px;
    height: #{$IMG-WIDTH-TABLET + $BORDER * 2}px;
  }
}

.profile-image {
  border-radius: 50%;
  width: #{$IMG-WIDTH}px;
  height: #{$IMG-WIDTH}px;

  @media (min-width: 768px) and (max-width: 991px) {
    width: #{$IMG-WIDTH-TABLET}px;
    height: #{$IMG-WIDTH-TABLET}px;
  }
}

@media print {
  :host {
    background-color: transparent;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $print-dark;
  }

  .profile-image {
    border: 1px solid $print-dark;
  }
}
