:host {
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  background-color: #005267;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4 {
  color: #fff;
}

h1 {
  font-weight: 900;
  margin-bottom: 10px;
}

h2, h3, h4 {
  font-weight: 100;
}

.profile-image {
  border: 2px solid #fff;
  border-radius: 50%;
  margin-bottom: 20px;
  width: 140px;
  height: 140px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .profile-image {
    width: 120px;
    height: 120px;
  }
}

@media print {
  :host {
    background-color: transparent;
  }

  h1, h2, h3, h4 {
    color: #3e4b50;
  }

  .profile-image {
    border: 1px solid #3e4b50;
  }
}
