@import "base/variables";

$BORDER: 2;
$IMG-WIDTH: 140;
$IMG-WIDTH-TABLET: 120;

:host {
  display: flex;
  padding: 30px 10px 20px;
  justify-content: center;
  background-color: $primary-dark;
  flex-direction: column;
  align-items: center;

  @media (min-width: 0) and (max-width: 767px) {
    padding: 20px 10px;
  }
}

h1,
h2,
h3,
h4 {
  color: $white;
  text-align: center;
}

h1 {
  font-weight: 900;
  margin-bottom: 10px;
}

h2,
h3,
h4 {
  font-weight: 100;
}

.border {
  border: #{$BORDER}px solid $white;
  margin-bottom: 20px;
  border-radius: 50%;
  width: #{$IMG-WIDTH + $BORDER * 2}px;
  height: #{$IMG-WIDTH + $BORDER * 2}px;

  @media (min-width: 768px) and (max-width: 991px) {
    width: #{$IMG-WIDTH-TABLET + $BORDER * 2}px;
    height: #{$IMG-WIDTH-TABLET + $BORDER * 2}px;
  }
}

.profile-image {
  border-radius: 50%;
  width: #{$IMG-WIDTH}px;
  height: #{$IMG-WIDTH}px;

  @media (min-width: 768px) and (max-width: 991px) {
    width: #{$IMG-WIDTH-TABLET}px;
    height: #{$IMG-WIDTH-TABLET}px;
  }
}

@media (min-width: 0) and (max-width: 767px) {
  :host {
    padding: 10px 10px;
  }

  .private-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .private-item {
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;

    .icon {
      width: inherit;
      margin-left: 0;
      margin-right: 6px;
      text-align: center;
    }
  }
}

@media print {
  :host {
    background-color: transparent;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $print-dark;
  }

  .border {
    border: #{$BORDER}px solid $print-dark;
  }
}
