.form {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 20px;
  max-width: 980px;
  background-color: #fff;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);

  .title {
    margin-bottom: .625rem;
    font-size: 1.3125rem;
    color: rgba(0,0,0,.87);
  }

  .fieldset {
    border: none;
    display: flex;

    &:not(:first-child) {
      margin-top: 50px;
    }
  }


  .fieldset.private-info {
    .wrap--private-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: auto;

      mat-form-field {
        box-sizing: border-box;
        margin-bottom: 10px;
        width: 100%;
      }

      mat-form-field:not(:first-child) {
        margin-left: 5px;
      }

      mat-form-field:not(:last-child) {
        margin-right: 5px;
      }
    }

    .button-row {
      text-align: end;

      button:not(:first-child) {
        margin-left: 10px;
      }
    }

  }

  .submit-row {
    margin-top: 20px;

    button {
      width: 100%;
    }
  }
}

.profile {
  .container {
    display: flex;

    .left {
      display: flex;
      flex-direction: column;
      width: calc(100% - 200px);
    }

    .right {
      display: flex;
      flex-direction: column;
      width: 200px;
      align-items: center;
      justify-content: center;
    }
  }
}
