
<form class="form" [formGroup]="formGroup">
  <fieldset class="fieldset profile">
    <legend class="title">Perfil personal</legend>

    <div class="container">
      <div class="left">
        <mat-form-field formGroupName="profile">
          <input matInput placeholder="Nombre" type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field formGroupName="profile">
          <input matInput placeholder="Ocupacion" type="text" formControlName="ocupation">
        </mat-form-field>

        <mat-form-field formGroupName="profile">
          <ngx-mat-file-input #removableInput placeholder="Foto" formControlName="photo"></ngx-mat-file-input>
          <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
            <mat-icon>clear</mat-icon>
          </button>




        </mat-form-field>

        <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
          <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
      </div>

      <div class="right">
        <app-profile-picture [previewLoadFile]="previewLoadFile" [noImageAvaible]="true"></app-profile-picture>
      </div>
    </div>





  </fieldset>

  <fieldset class="fieldset private-info">
    <legend class="title">Datos privados</legend>
    <div class="wrap--private-info" formArrayName="privateInfo" *ngFor="let p of formGroup.get('privateInfo').controls; let i = index;">
      <mat-form-field [formGroupName]="i">
        <input matInput placeholder="Icono" type="text" formControlName="icon">
      </mat-form-field>

      <mat-form-field [formGroupName]="i">
        <mat-select placeholder="Tipo" formControlName="type">
          <mat-option value="text">Texto</mat-option>
          <mat-option value="link">Link</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="p.controls.type.value === 'link'" [formGroupName]="i">
        <input matInput placeholder="Link" type="text" formControlName="href">
      </mat-form-field>

      <mat-form-field [formGroupName]="i">
        <input matInput placeholder="Texto" type="text" formControlName="text">
      </mat-form-field>
    </div>

    <div class="button-row">
      <button mat-stroked-button color="warn" (click)="removeLastPrivateInfo()">Eliminar</button>
      <button mat-stroked-button color="primary" (click)="addPrivateInfo()">Añadir</button>
    </div>
  </fieldset>

  <div class="submit-row">
    <button mat-stroked-button color="primary" (click)="onSubmit()">Generar JSON</button>
  </div>
</form>

