/*  --- *Primary Colors* ---  */
$primary: #247699;
$primary-dark: #1c5d79;

$link: #0056b3;
$link-hover: #004692;
$print-dark: #3e4b50;

/*  --- *Grey Colors* ---  */
$grey-darken: #777777;
$grey-dark: #bbbbbb;
$grey-normal: #cccccc;
$grey-light: #dddddd;
$grey-lighter:  #eeeeee;
$grey-bg: #efefef;
$font-grey: #4f4e4d;

/*  --- *White Colors* ---  */
$white: #ffffff;
$medium-white: #fefefe;
$darken-white: #fafafa;
$special-white: #f7f7f7;
