
$primary: #2456a7;
$primary-dark: #1c3254;
$primary-light: #3175E2;
$grey-primary: #455561;

$link: #007bff;
$link-hover: #0056b3;

$print-dark: #3e4b50;

/*  --- *Grey Colors* ---  */
$grey-darken: #777777;
$grey-dark: #bbbbbb;
$grey-normal: #cccccc;
$grey-light: #dddddd;
$grey-lighter:  #eeeeee;
$grey-bg: #efefef;
$font-grey: #4f4e4d;

/*  --- *White Colors* ---  */
$white: #ffffff;
$medium-white: #fefefe;
$darken-white: #fafafa;
$special-white: #f7f7f7;
